<article class="shout" data-shout-id="<%= shout.id %>">
  <div class="shout__text">
    <div class="shout__badge">
      <%= shout.reaction_badge %>
    </div>
    <p>
      <%= shout.message %>
    </p>
  </div>
  <address class="shout__address">
    <b>@<%= shout.shouter.nickname %></b> sent on <%= shout.created_at.to_s(:short) %>
  </address>
  <% shout.reactions_array.each do |reaction| %>
    <div class="reactions">
      <span class="reactions__emoji"><%= reaction.emoji %></span>
      <span class="reactions__count"><%= reaction.counter %></span>
    </div>
  <% end %>
  <div class="reactions reactions--button">Add reaction </div>
</article>
