<% content_for :header_class, "header--is-opaque" %>
<div class="banner">
  <div class="banner__content">
    <img src="<%= current_user.profile_image_url.gsub("_normal", '') %>" class="user__img user__img--is-large"/>
    <div class="user__flag-name"><%= link_to current_user.nickname, user_shouts_path(current_user) %></div>
  </div>
</div>

<%= render 'shout-tabs' %>

<h2>Meus shouts recebidos</h2>
<% @shouts.each do |shout| %>
  <%= render shout =%>
<% end %>

<h2>Meus shouts enviados</h2>
<% @user.sent_shouts.each do |shout| %>
  <%= render shout %>
<% end %>


<%= form_for Shout.new do |f| %>
<div class="new-shout">
  <div class="container">
  <div class="new-shout__title">Give kudos to someone:</div>
  <div class="emoji-picker-container">
    <%= f.text_area :message, placeholder: "Send a star to @twitteraccount", data: { emojiable: true }, class: "new-shout__textarea" %>
  </div>
  <div class="new-shout__button-wrapper">
    <%= f.submit 'Save', class: "button button--primary" %>
  </div>
  </div>
</div>
<% end %>
