<% content_for :header_class, "header--is-opaque" %>
<div class="banner">
  <div class="banner__content">
    <img src="<%= @user.profile_image_url.gsub("_normal", '') %>" class="user__img user__img--is-large"/>
    <div class="user__flag-name"><%= link_to @user.nickname, user_shouts_path(@user) %></div>
  </div>
</div>

<%= render 'shout-tabs' %>

<%= form_for Shout.new do |f| %>
<div class="new-shout">
  <div class="container">
  <div class="new-shout__title">Give kudos to someone:</div>
  <%= f.text_area :message, placeholder: "Send a star to @twitteraccount", class: "new-shout__textarea" %>
  <div class="new-shout__button-wrapper">
    <%= f.submit 'Save', class: "button button--primary" %>
  </div>
  </div>
</div>
<% end %>
