<!DOCTYPE html>
<html>
  <head>
    <title>Rubyrampage2016Shout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
    <header class="header  <%= yield (:header_class) %>">
      <div class="header__content">
        <h1 class="header__logo"><%= link_to 'Shout', root_path %></h1>
        <% if current_user %>
          <nav class="user__menu">

            <button class="sliding-panel-button hamburguer">
              <span></span>
              <span></span>
              <span></span>
            </button>

            <div class="sliding-panel-content">
              <img src="<%= current_user.profile_image_url %>" class="user__img"/>
              <div class="user__nickname"><%= link_to current_user.nickname, user_shouts_path(current_user) %></div>
              <a class="user__logout" href="#">logout</a>
            </div>
            <div class="sliding-panel-fade-screen"></div>



          </nav>
        <% else %>
          <%= link_to 'Login with Twitter', '/auth/twitter', class: "button button--twitter" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
