<!DOCTYPE html>
<html>
  <head>
    <title>Rubyrampage2016Shout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="header__content">
        <h1 class="header__logo">GimmeStars</h2>
        <% if current_user %>
          <img src="http://lorempixel.com/40/40/"/>
          <%= current_user.nickname %>
        <% else %>
          <%= link_to 'Login with Twitter', '/auth/twitter', class: "button button--twitter" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
